services:
  pocket-tts-wyoming:
    build: .
    container_name: pocket-tts-wyoming
    network_mode: host
    restart: unless-stopped
    
    environment:
      - WYOMING_PORT=10201
      - DEFAULT_VOICE=alba
      - MODEL_VARIANT=b6369a24
      - ZEROCONF=pocket-tts
      
      # Tuning für Streaming
      - PREFIX_MIN_DURATION=0.1
      - DEBUG_WAV=false
      - HF_HOME=/data/hf

    volumes:
      # Hier werden die Modelle gespeichert
      - pocket-tts-hf-cache:/data/hf
      
      # Optional: Output für Debug-WAVs
      - ./output:/output

volumes:
  pocket-tts-hf-cache:
    driver: local
